#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Sep  3 16:09:37 2020

@author: marianarevilla
"""


html{
  position: relative;
  min-height: 50%;
} 

.topnav a {
  float: left;
  display: block;
  color: #696969;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#images a.current{
   opacity: 0.2;
}

.topnav .icon {
  display: none;
}

h1 {
  color: #c51162;
  text-align: center;
  font-family: verdana;
}

h2 {
  font-size: 20px;
  color: #696969;
  text-align: center;
  font-family: verdana;
}

h3 {
  font-size: 20px;
  color: #696969;
  text-align: center;
  font-family: verdana;
}

h4 {
  font-size: 20px;
  color: #696969;
  text-align: center;
  font-family: verdana;
}

p {
  font-size: 100px;
  text-align: justify;
  font-family: verdana;
}

img {
  width: 300px;

}
<img src="picture1.png" alt="wine">

  



    
